<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
    	<div class="nav">
         	<%= link_to "SUPER FUNTIME POOL FINDER", root_path, class: "button navbutton", id: "logo" %>
			<%= link_to "FIND ME SOME POOLS", '#', class: "button navbutton" %>
			<%= link_to "I SKATED A POOL", new_pool_path, class: "button navbutton" %>
        </div>
    </header>

    <div class="container">
        <%= yield %>
    </div>

</body>
</html>
